/**
 * Icons for the blip toolbar, see BlipIconResources.java.
 */

@sprite .edit {
  gwt-image: 'edit';
  margin-left: 5px;
  background-position: 4px center;
}

@sprite .reply {
  gwt-image: 'reply';
  margin-left: 5px;
  background-position: 4px center;
}

@sprite .link {
  gwt-image: 'link';
  margin-left: 5px;
  margin-right: -6px;
  background-position: 4px center;
}

@sprite .delete {
  gwt-image: 'delete';
  margin-left: 5px;
  background-position: 4px center;
}

